* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b2b
}

.container {
    width: 807px;
    height: 533px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(238, 202, 0.8);
    border-radius: 50px;
    margin-top: 60px;
    background-color: rgba(18, 240, 227, 0.9);
    position: relative;
    box-shadow: 0px 0px 3px rgb(238, 202, 0.8);
}

.logos-home-page {
    margin-top: 50px;
    margin-left: 72px;
    margin-right: 72px;
}

#logo-1 {
    float: left;
    margin-left: 0;
}

#logo-2 {
    float: right;
    margin-right: 0;
}

#home-page-heading {
    text-align: center;
    margin-top: 100px;
    color: rgba(255, 245, 0, 1);
    font-size: 70px;
    -webkit-text-stroke: 3px rgba(4, 55, 71, 1);
    font-family: "Coiny", system-ui;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.1)
}

#ask-name-paragh {
    color: rgba(173, 31, 133, 1);
    font-size: 30px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.user-name {
    border: 5px solid rgb(5, 20, 70);
    border-radius: 20px;
    background-color: rgba(120, 229, 210, 1);
    width: 404px;
    height: 47px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.styled-textbox {
    color: rgb(14, 41, 65);
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

#submit-name-btn {
    border: 5px solid rgb(128, 22, 22);
    background-color: rgb(236, 20, 20);
    box-shadow: 0px 0px 4px rgb(148, 38, 38);
    border-radius: 20px;
    width: 200px;
    height: 46px;
    color: rgba(255, 255, 255, 0.95);
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1);
}

#question-page-heading {
    color: rgba(4, 55, 71, 1);
    text-shadow: 0px 0px 2px rgba(18, 240, 120, 0.9), 0px 0px 2px rgba(18, 240, 120, 0.9);
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.logos-question-page {
    margin-top: 35px;
    margin-left: 52px;
    margin-right: 52px;
}

#type-question-paragh {
    color: rgba(173, 31, 133, 1);
    font-size: 22px;
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}

.user-question {
    background-color: rgba(120, 229, 210, 1);
    border: 5px solid black;
    width: 604px;
    height: 146px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#submit-question-btn {
    color: black;
    background-color: yellow;
    border: 5px solid red;
    border-radius: 20px;
    width: 192px;
    height: 45px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: "Coiny", system-ui;
    font-weight: 500;
    font-style: normal;
}

#fortune-page-heading {
    color: rgba(4, 55, 71, 1);
    font-size: 38px;
    font-family: "Coiny", system-ui;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(18, 240, 120, 1), 0px 0px 4px rgba(18, 240, 120, 1);
    margin-top: 58px;
}

#user-fortune {
    background-color: rgba(224, 255, 33, 0.13);
    width: 604px;
    height: 180px;
    border-radius: 20px;
    border: 5px solid black;
    text-align: center;
    font-size: 30px;
    font-family: "Coiny", system-ui;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-user-btn,
#new-question-btn {
    border: 5px solid red;
    border-radius: 20px;
    background-color: yellow;
    font-family: "Coiny", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 170px;
    height: 40px;
}

#new-question-btn {
    position: absolute;
    left: 76.5%;
    top: 83%;
    transform: translate(-50%, -50%);
}

#new-user-btn {
    position: absolute;
    left: 23%;
    top: 83%;
    transform: translate(-50%, -50%);
}

button:hover {
    cursor: pointer;
}